<div
  fxLayout.gt-sm="row"
  fxLayout.lt-md="column"
  fxLayoutGap="24px"
  style="max-width: 1080px; margin: 0 auto; padding: 0 1em"
>
  <div fxFlex.sm="60%" fxFlex.gt-sm="65%">
    <app-search></app-search>
    <app-product-list [products]="searchResults"></app-product-list>
  </div>
  <div fxFlex.sm="40%" fxFlex.gt-sm="35%">
    <div
      style="background-color: #b1a9b12b; padding: 1em; border-radius: 0.4em"
    >
      <app-suggestions
        title="Latest Products"
        [products]="latestProducts"
      ></app-suggestions>
    </div>
  </div>
</div>
