<div fxLayout="row" fxLayoutAlign="center">
  <form
    fxLayout="row"
    fxLayoutAlign="start baseline"
    fxLayoutGap="10px"
    [formGroup]="searchForm"
    fxFlex.gt-xs="400px"
  >
    <mat-form-field>
      <mat-label>Select Category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let cat of categories" [value]="cat">
          {{ cat }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="100%">
      <mat-label>Search Products</mat-label>
      <input matInput formControlName="search" placeholder="Start typing.." />
    </mat-form-field>
  </form>
</div>
