<div fxLayout="row" fxLayoutAlign="center">
  <div
    fxLayout.gt-xs="row"
    fxLayout.xs="column"
    fxFlex.lt-lg="100%"
    fxFlex.gt-sm="1080px"
    fxLayoutGap="10px"
    style="margin: 0 0.75em"
  >
    <div>
      <mat-card style="text-align: center">
        <mat-card-title class="app-header text-center">{{
          shop?.name
        }}</mat-card-title>

        <mat-card-content
          [style]="media.isActive('sm') ? 'padding: 1em 0' : 'padding: 1.6em'"
          style="text-align: center"
        >
          <img
            [src]="shop?.imageUrl"
            style="object-fit: cover; border-radius: 50%"
            [style]="
              media.isActive('sm')
                ? 'width: 140px; height: 140px'
                : 'width: 200px; height: 200px'
            "
            alt=""
          />
          <div style="margin-top: 2em">{{ shop?.description }}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex>
      <mat-card>
        <mat-card-header
          ><mat-card-title>Products</mat-card-title></mat-card-header
        >
        <mat-grid-list
          [cols]="media.isActive('gt-sm') ? 3 : media.isActive('sm') ? 2 : 1"
          gutterSize="10px"
          rowHeight="200"
        >
          <mat-grid-tile *ngFor="let product of products">
            <img
              class="product-img"
              [routerLink]="'/products/product/' + product._id"
              [src]="
                product.imageUrl
                  ? product.imageUrl
                  : '../../../assets/product4.png'
              "
              alt=""
            />
            <mat-grid-tile-footer>
              <h3
                [routerLink]="'/products/product/' + product._id"
                style="font-weight: 500; font-size: 16px; cursor: pointer"
                mat-line
              >
                {{ product.name }}
              </h3>
              <h4 style="font-size: 15px" mat-line>
                {{ product.price | currency }}
              </h4>
              <div class="flex-spacer"></div>
              <button mat-icon-button color="primary">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
            </mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
</div>
