<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.xs="96%" fxFlex.gt-xs="600px">
    <div fxLayout="row" fxLayoutAlign="start baseline">
      <h2 class="app-header" style="margin-bottom: 0; padding-bottom: 0">
        My Shops
      </h2>
      <div class="flex-spacer"></div>
      <button
        class="mat-elevation-z1"
        color="primary"
        routerLink="/shops/new"
        mat-raised-button
      >
        <mat-icon>add</mat-icon>
        <span>New Shop</span>
      </button>
    </div>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let shop of shops">
          <img mat-list-avatar [src]="shop.imageUrl" alt="" />

          <h4
            style="cursor: pointer"
            [routerLink]="'/shops/' + shop._id"
            mat-line
          >
            {{ shop.name }}
          </h4>
          <h5 mat-line style="font-size: 13px; color: gray; margin-bottom: 0">
            {{ shop.description }}
          </h5>

          <div class="flex-spacer"></div>
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button color="accent" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
          <mat-divider inset></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
